doctype html
html
  head
    title= title
    script(src="./mdbootstrap/js/jquery.min.js")
    link(rel="stylesheet", href="./mdbootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="./mdbootstrap/css/mdb.min.css")
    link(rel="stylesheet", href="/stylesheets/all.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon", href="./images/favicon.ico", type="image/x-icon")
  body
  
    block content



    block js
    script(src="./mdbootstrap/js/popper.min.js")
    script(src="./mdbootstrap/js/bootstrap.min.js")
    script(src="./mdbootstrap/js/mdb.min.js")
    script(src="./typed.js/lib/typed.min.js")
    script(src="./javascripts/main.js")



