nav.navbar-left
    a.navbar_brand
        img(src="./images/logo.png", alt="")
    ul.nav-center.p-0
        li
            a(href="#!") 
                i.fal.fa-home.white-text
                span.white-text HOME
        li
            a(href="#!") 
                i.fal.fa-user.white-text
                span.white-text ABOUT
        li
            a(href="#!") 
                i.fal.fa-cog.white-text
                span.white-text SKILLS
        li
            a(href="#!") 
                i.fal.fa-eye.white-text
                span.white-text MY WORK
        li
            a(href="#!") 
                i.fal.fa-envelope.white-text 
                span.white-text CONTACT
    ul.nav-bottom.p-0
        li 
            a(href="#!") 
                i.fab.fa-telegram
                span TELEGRAM
        li 
            a(href="#!") 
                i.fab.fa-instagram
                span INSTAGRAM        
        li 
            a(href="#!") 
                i.fal.fa-mobile-android
                span NUMBER