extends layout

block content
  include navbar
  section.skill(style="overflow-x:hidden;")
    #particles-js
    .container-fluid.h-100
      .row.h-100
        .col-lg-6.pl-100.d-flex.align-items-center.justify-content-center
         .card.card-image(style='background: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg)no-repeat  center center / cover;')
          .text-white.d-flex.align-items-center.rgba-black-strong.py-5.px-4
            div
              h5.pink-text
                i.fas.fa-chart-pie
                |  Skills
              h3.card-title.pt-2
                strong.blast Skills & Experience
              p
                |  Men asosan web saytni Front qismida ishlashni yoqtiraman lekin web saytni server qismida ham anchagina tajribam bor
                br
                |Asosiy tajribam Javascript boyicha ya'ni uning freamworklari (Nodejs , Expressjs , ReactJs , Vuejs (boshlang'ich) , Angular (Boshlang'ich)) 
              a(href="/work").btn.btn-pink
                i.fas.fa-clone.left
                |  View project

        .col-lg-6.d-flex.justify-content-center.align-items-center(style="overflow:hidden;")
          #myCanvasContainer
            canvas#myCanvas(width='500', height='500')
              p Anything in here will be replaced on browsers that support the canvas element
          #tags(style='font-size: 50%')
            a(href='#') HTML5
            a(href='#') CSS3
            a(href='#') JavaScript
            a(href='#') NodeJs
            a(href='#') ExpressJs
            a(href='#' ) Pug
            a(href='#') HBS
            a(href='#') ReactJs
            a(href='#') AngularJs
            a(href='#') VueJs
            a(href='#') Jquery
            a(href='#') Sass
            a(href='#') Less
            a(href='#') Scss
            a(href='#') GULP
  div.rgba
  script(src="./javascripts/tagCanvas.js")  
  script(src="./javascripts/particles.min.js")
  script(src="./javascripts/skillParticle.js")