extends layout

block content
  include navbar
  section.work
    .container-fluid.pl-100
        .row
            .col-12.text-center.my-5.white-text
                h2(style="font-family:'helios';font-size:50px") MY Project
            .col-lg-3.mb-4.col-md-4.col-sm-6
                .card
                    .wrap_workHover
                        .wrapHover
                            i.fal.fa-eye
                        .red-color    
                        .wrapBottom 
                            a(href="#!")
                               |Mountain Project
                    .card-img.big
                        img(src="./images/projectImg/1.png", alt="")
            .col-lg-3.mb-4.col-md-4.col-sm-6
                .card
                    .wrap_workHover
                        .wrapHover
                            i.fal.fa-eye
                        .red-color    
                        .wrapBottom 
                            a(href="#!")
                               |Acnostia Project
                    .card-img
                        img(src="./images/projectImg/2.png", alt="")  
            .col-lg-3.mb-4.col-md-4.col-sm-6
                .card
                    .wrap_workHover
                        .wrapHover
                            i.fal.fa-eye
                        .red-color    
                        .wrapBottom 
                            a(href="#!")
                               |AKAD Project
                    .card-img.big
                        img(src="./images/projectImg/3.png", alt="")
            .col-lg-3.mb-4.col-md-4.col-sm-6
                .card
                    .wrap_workHover
                        .wrapHover
                            i.fal.fa-eye
                        .red-color    
                        .wrapBottom 
                            a(href="#!")
                               |Alexis Project
                    .card-img
                        img(src="./images/projectImg/4.png", alt="")
            .col-lg-3.mb-4.col-md-4.col-sm-6
                .card
                    .wrap_workHover
                        .wrapHover
                            i.fal.fa-eye
                        .red-color    
                        .wrapBottom 
                            a(href="#!")
                               |Cratives Project
                    .card-img
                        img(src="./images/projectImg/5.png", alt="")
            .col-lg-3.mb-4.col-md-4.col-sm-6
                .card
                    .wrap_workHover
                        .wrapHover
                            i.fal.fa-eye
                        .red-color    
                        .wrapBottom 
                            a(href="#!")
                               |Atomic Project
                    .card-img.big.trans
                        img(src="./images/projectImg/15.png", alt="") 
            .col-lg-3.mb-4.col-md-4.col-sm-6
                .card
                    .wrap_workHover
                        .wrapHover
                            i.fal.fa-eye
                        .red-color    
                        .wrapBottom 
                            a(href="#!")
                               |Grafik design master
                    .card-img
                        img(src="./images/projectImg/7.png", alt="")
            .col-lg-3.mb-4.col-md-4.col-sm-6
                .card
                    .wrap_workHover
                        .wrapHover
                            i.fal.fa-eye
                        .red-color    
                        .wrapBottom 
                            a(href="#!")
                               |FITNESS Project
                    .card-img.big.trans
                        img(src="./images/projectImg/8.png", alt="")  
            .col-lg-3.mb-4.col-md-4.col-sm-6
                .card
                    .wrap_workHover
                        .wrapHover
                            i.fal.fa-eye
                        .red-color    
                        .wrapBottom 
                            a(href="#!")
                               |GeroduKratip Project
                    .card-img.big.trans
                        img(src="./images/projectImg/9.png", alt="")
            .col-lg-3.mb-4.col-md-4.col-sm-6
                .card
                    .wrap_workHover
                        .wrapHover
                            i.fal.fa-eye
                        .red-color    
                        .wrapBottom 
                            a(href="#!")
                               |Mans shop Project
                    .card-img.trans
                        img(src="./images/projectImg/10.png", alt="")
            .col-lg-3.mb-4.col-md-4.col-sm-6
                .card
                    .wrap_workHover
                        .wrapHover
                            i.fal.fa-eye
                        .red-color    
                        .wrapBottom 
                            a(href="#!")
                               |Model Mia
                    .card-img.big.trans
                        img(src="./images/projectImg/11.png", alt="")
            .col-lg-3.mb-4.col-md-4.col-sm-6
                .card
                    .wrap_workHover
                        .wrapHover
                            i.fal.fa-eye
                        .red-color    
                        .wrapBottom 
                            a(href="#!")
                               |MOGO Project
                    .card-img.trans
                        img(src="./images/projectImg/12.png", alt="")                                                                       